<!DOCTYPE html>

<html lang="en">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Logistics Management by Retoll</title>
    <!-- Icons-->
    <link href="~/lib/vendors/from-coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="~/lib/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="~/lib/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->

    <link href="~/lib/css/style.css" rel="stylesheet">
    <link href="~/lib/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <link href="~/css/site.min.css" rel="stylesheet" />
    

    <!-- Global site tag (gtag.js) - Google Analytics-->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        // Shared ID
        gtag('config', 'UA-118965717-3');
        // Bootstrap ID
        gtag('config', 'UA-118965717-5');
    </script>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#" style="width:200px; float:left">
            <img class="navbar-brand-full" src="~/lib/img/mfi-logo.jpg" width="150" height="35" alt="mfi logo">
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav d-md-down-none"></ul>
        <ul class="nav navbar-nav ml-auto" style="padding-right:20px">
            <li class="nav-item px-1">
                <a class="nav-link" href="#">
                    <img src="~/images/flaticons-64x64/employee-signin.png" style="width:25px; height:25px" />
                </a>
            </li>
            <li class="nav-item d-md-down-none px-5">
                <a class="nav-link" href="#">
                    <i class="icon-bell"></i>
                    <span class="badge badge-pill badge-danger">5</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="~/images/fatcow-icons-32x32/user-3.png" style="border:1px solid #097cb0; border-radius:50%; padding:2px; width:23px; height:23px;background-color:#a9f7e1" />

                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-center">
                        <strong>Account</strong>
                    </div>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-user"></i> Profile
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-wrench"></i> Settings
                    </a>

                    <a class="dropdown-item" asp-controller="Login" asp-action="Logout">
                        <i class="fa fa-lock"></i> Logout
                    </a>
                </div>
            </li>
        </ul>

    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="nav-icon icon-speedometer"></i> Dashboard
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon icon-rocket"></i> Operations
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Order" asp-action="Index">
                                    <span style="padding-left:10px"></span><i class="nav-icon icon-anchor"></i> Delivery Order
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Order" asp-action="Miscellaneous">
                                    <span style="padding-left:10px"></span><i class="nav-icon icon-puzzle"></i> Misc. Order
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Order" asp-action="Storage">
                                    <span style="padding-left:10px"></span><i class="nav-icon icon-cursor-move"></i> Storage Order
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Invoice" asp-action="Index">
                                    <span style="padding-left:10px"></span><i class="nav-icon icon-book-open"></i> Invoice
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Payroll" asp-action="Index">
                                    <span style="padding-left:10px"></span><i class="nav-icon fa fa-list"></i> Payroll
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Payment" asp-action="Index">
                                    <span style="padding-left:10px"></span><i class="nav-icon fa fa-money"></i> Make Payment
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon fa fa-user-circle"></i> Administration
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Customer" asp-action="Index">
                                    <span style="padding-left:10px"></span><i class="nav-icon fa fa-user-plus"></i> Customer
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Employee" asp-action="Index">
                                    <span style="padding-left:10px"></span><i class="nav-icon fa fa-vcard"></i> Employee
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="User" asp-action="Index">
                                    <span style="padding-left:10px"></span><i class="nav-icon fa fa-user-circle-o"></i> User
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Administration" asp-action="Payee">
                                    <span style="padding-left:10px"></span><i class="nav-icon fa fa-institution"></i> Payee
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Tariff" asp-action="Index">
                                    <span style="padding-left:10px"></span><i class="nav-icon fa fa-sliders"></i> Tariff
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Configuration" asp-action="Index">
                                    <span style="padding-left:10px"></span><i class="nav-icon fa fa-gears"></i> Configuration
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Address" asp-action="Index">
                                    <span style="padding-left:10px"></span><i class="nav-icon fa fa-address-book-o"></i> Address
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item"><div class="dropdown-divider" style="margin: 2.5em 0 0 0;border-color:#378ba7;"></div></li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon icon-calculator"></i> Reports
                        </a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Report" asp-action="Index">
                                    <span style="padding-left:10px"></span><i class="nav-icon fa fa-clipboard"></i> Orders
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Report" asp-action="AccountReceivable">
                                    <span style="padding-left:10px"></span><i class="nav-icon fa fa-mail-reply"></i> Account receivable
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                                    <span style="padding-left:10px"></span><i class="nav-icon fa fa-mail-forward"></i> Account payable
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <main class="main" style="background-color:#fbfbfb">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                @{
                    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
                    var actionName = this.ViewContext.RouteData.Values["action"].ToString();
                }
                <li class="breadcrumb-item"><a asp-controller="@controllerName" asp-action="Index">@controllerName </a></li>
                <li class="breadcrumb-item active">@actionName</li>
            </ol>

            <div class="container-fluid">
                <div class="animated fadeIn">
                    <link href="~/lib/css/jquery-ui.css" rel="stylesheet" />
                    <script src="~/lib/vendors/jquery/js/jquery.min.js"></script>

                    <script src="~/js/common.js"></script>
                    <script src="~/js/site.min.js"></script>

                    <div id="msgBox" style="display:none">
                        <div class="alert fade show w-50" role="alert" id="alertBox" style="background-color:#fee5e5;">
                            <img id="imgAlertType" src="~/images/icon-archive/tick.png" width="32" height="32" />
                            <span style="padding-left: 15px">
                                <strong><label id="lblMsgContent">Content</label></strong>
                            </span>
                            <span style="float:right ">
                                <button class="btn btn-sm btn-primary" type="button" id="btnProceed">Proceed</button>
                                @*<button type="button" class="btn btn-sm btn-secondary" data-dismiss="alert" aria-label="Close">Close</button>*@
                                <button type="button" class="close" data-hide="alert" aria-label="Close" id="btnClose" style="margin:-10px -10px 0px 0px">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </span>

                        </div>
                    </div>
                    @RenderBody()

                </div>
            </div>
        </main>

    </div>



    <footer class="app-footer">
        <div class="ml-auto">
            <span style="font-size:.8em">Developed by <a href="https://www.retoll.com/" target="_blank"> <img src="~/lib/img/retoll-logo.png" width="15" height="15" /> Retoll inc.</a> Third party <a asp-area="" asp-controller="Credits" asp-action="Index">credits</a></span>
        </div>
    </footer>

    @*@RenderSection("scripts", true)*@

    <script src="~/lib/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="~/lib/vendors/bootstrap/js/bootstrap.min.js"></script>


    <!-- CoreUI and necessary plugins-->
    @*<script src="~/lib/vendors/popper.js/js/popper.min.js"></script>*@
    <script src="~/lib/vendors/pace-progress/js/pace.min.js"></script>
    <script src="~/lib/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
    <script src="~/lib/vendors/from-coreui/coreui/js/coreui.min.js"></script>
    <!-- Plugins and scripts required by this view-->
    @*<script src="~/lib/vendors/chart.js/js/Chart.min.js"></script>*@
    @*<script src="~/lib/vendors/from-coreui/coreui-plugin-chartjs-custom-tooltips/js/custom-tooltips.min.js"></script>*@
    @*<script src="~/lib/js/main.js"></script>*@

    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap-datatables/datatables.min.css" />
    <script type="text/javascript" src="~/lib/bootstrap-datatables/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="~/lib/js/bootbox.all.min.js"></script>
</body>
</html>
