@using LogisticsManagement_Web.Models;
@model List<LogisticsManagement_Poco.Lms_PayeePoco>

@{
    ViewData["Title"] = "Payee";
}

<div class="row">
    <div class="col-sm-1">
        <h3>
            @ViewData["Title"]
        </h3>
    </div>

    <div class="col-sm-4 input-group">
        <select class="col-2 form-control form-control-sm" id="">
            <option value="0">All</option>
        </select>
        <button style="margin-left:10px;height:27px" class="col-6 btn btn-sm btn-dark" id="btnDownloadData"><i class="fa fa-download"></i> Load payee </button>
        <span id="spinnerLoadingDataTable" style="display:none">
            <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true" style="margin-right:5px"></span>
            <span style="margin-right:20px">Loading...</span>
        </span>
    </div>
    <div class="col-sm-2 offset-5">
        <button id="btnNewPayee" type="button" class="btn btn-sm btn-danger form-control" title="Add New Payee" data-toggle="modal"><i class="fa fa-plus-circle"></i> New Payee </button>
    </div>
</div>
<hr style="margin-bottom:20px" />

<form id="frmPayeeForm" class="form-inline">
    <div class="modal fade" id="modalPayee" tabindex="-1" role="dialog" style="text-transform:uppercase">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <label class="modal-title mr-1"> PAYEE </label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row mb-2">
                        <div class="form-group col-sm-12 pl-0">
                            <label id="lblPayeeName" for="txtPayeeName" class="col-sm-3 captionWeight">Payee name</label>
                            <input class="col-7 form-control form-control-sm frmfontsize" id="txtPayeeName" placeholder="Payee name" name="txtPayeeName" type="text" maxlength="30" required />
                            <input class="col-2 form-control form-control-sm frmfontsize" placeholder="####" id="txtPayeeId" type="number" min="1" name="txtPayeeId" readonly>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="form-group col-sm-12 pl-0">
                            <label id="lblAddress" for="txtAddress" class="col-sm-3 captionWeight">Address</label>
                            <input class="col-9 form-control form-control-sm frmfontsize " id="txtAddress" name="txtAddress" placeholder="Address" maxlength="150" type="text" />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="form-group col-sm-12 pl-0">
                            <label for="txtEmailAddress" class="col-sm-3 captionWeight">Email</label>
                            <input class="col-9 form-control form-control-sm frmfontsize" id="txtEmailAddress" name="txtEmailAddress" placeholder="Email" maxlength="150" type="email" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-12 pl-0">
                            <label for="txtPhoneNumber" class="col-sm-3 captionWeight">Phone</label>
                            <input class="col-9 form-control form-control-sm frmfontsize" id="txtPhoneNumber" name="txtPhoneNumber" placeholder="Phone" maxlength="20" type="text" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer padding-lg">
                    <button type="submit" class="btn btn-sm btn-primary pl-5 pr-5" id="btnSave"><i class="fa fa-save"></i> SAVE</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnCloseModal"> CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-sm-12">
        <div style="display: block" id="loadDataTable">
            <partial name="_PartialViewPayeeData" />
        </div>
    </div>
</div>

<script src="~/js/payee.js"></script>
