@{
    ViewData["Title"] = "SEARCH";
}

<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">

<div class="modal fade" id="newOrder" tabindex="-1" role="dialog">
    <form id="frmOrderForm" style="text-transform:uppercase; font-weight:600" class="form-inline">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <label class="modal-title">DELIVERY ORDER</label>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <!-- Modal - New Order -->
                    <input type="hidden" id="hfOrderId" class="hfOrderId" name="hfOrderId" />
                    <input type="hidden" id="hfBillerCustomerId" />
                    <input type="hidden" id="hfShipperAddressId" class="hfShipperAddressId" name="hfShipperAddressId" />
                    <input type="hidden" id="hfConsigneeAddressId" class="hfConsigneeAddressId" name="hfConsigneeAddressId" />
                    <input type="hidden" id="hfDispatchToEmployeeId" class="hfDispatchToEmployeeId" name="hfDispatchToEmployeeId" />

                    <div class="row ml-1 mb-2">
                        <div class="form-group mr-2">
                            <label for="" class="captionWeight">PAID BY</label>
                        </div>
                        <div class="col-sm-3 mr-3 paidBy">
                            <div class="form-group">
                                <span class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rdoPaidBy" id="rdoShipper" value="1" checked disabled>
                                    <label class="form-check-label" for="rdoShipper">Shipper</label>
                                </span>
                            </div>
                            <div class="form-group">
                                <span class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rdoPaidBy" id="rdoConsignee" value="2" disabled>
                                    <label class="form-check-label" for="rdoConsignee">Consingee</label>
                                </span>
                            </div>
                            <div class="form-group">
                                <span class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="rdoPaidBy" id="rdoThirdParty" value="3" disabled>
                                    <label class="form-check-label" for="rdoThirdParty">3rd. Pty</label>
                                </span>
                            </div>
                        </div>

                        <div class="form-group mr-1">
                            <label for="txtBillToCustomerName" class="captionWeight">BILL TO</label>
                        </div>
                        <div class="form-group mr-3">
                            <input class="form-control form-control-sm frmfontsize billToTextbox" id="txtBillToCustomerName" name="txtBillToCustomerName" placeholder="BILL TO" type="search" disabled />
                        </div>
                        <div class="form-group mr-1">
                            <label for="txtOrderedBy" class="captionWeight">ORDER BY</label>
                        </div>
                        <div class="form-group mr-3">
                            <input type="text" class="form-control form-control-sm frmfontsize orderbyTextbox" placeholder="Ordered by" id="txtOrderedBy" name="txtOrderedBy" title="Ordered by" disabled>
                        </div>
                        <div class="form-group mr-2">
                            <label for="ddlDeliveryOptionId" class="captionWeight">SVC.</label>
                        </div>
                        <div class="form-group">
                            <select class="form-control form-control-sm frmfontsize serviceDdl" id="ddlDeliveryOptionId" name="ddlDeliveryOptionId" disabled></select>
                        </div>
                    </div>

                    <div class="row ml-1">
                        <div class="form-group mr-3">
                            <label id="lblWayBillNo" for="txtWayBillNo" class="captionWeight">W/B #</label>
                        </div>
                        <div class="form-group mr-3 ml-1">
                            <input class="form-control form-control-sm frmfontsize waybillNo" placeholder="W/B #" id="txtWayBillNo" type="number" name="txtWayBillNo" disabled>
                        </div>

                        <div class="form-group mr-1">
                            <label id="lblCustomerRefNo" for="txtCustomerRefNo" class="captionWeight">CUST. REF#</label>
                        </div>
                        <div class="form-group mr-3">
                            <input type="text" class="form-control form-control-sm refNumber frmfontsize" placeholder="Cust Ref" id="txtCustomerRefNo" name="txtCustomerRefNo" title="Customer ref #" disabled>
                        </div>

                        <div class="form-group mr-2">
                            <label id="lblPickupRefNo" for="txtPickupRefNo" class="captionWeight">PU REF#</label>
                        </div>
                        <div class="form-group mr-3">
                            <input type="text" class="form-control form-control-sm refNumber frmfontsize" placeholder="Pickup ref" id="txtPickupRefNo" name="txtPickupRefNo" data-toggle="tooltip" title="Pickup ref #" disabled>
                        </div>
                        <div class="form-group mr-3">
                            <label id="lblDeliveryRefNo" for="txtDeliveryRefNo" class="captionWeight">DL REF#</label>
                        </div>
                        <div class="form-group mr-3">
                            <input type="text" class="form-control form-control-sm delRefNumber frmfontsize" placeholder="Delivery ref" id="txtDeliveryRefNo" name="txtDeliveryRefNo" title="Delivery ref#" disabled>
                        </div>
                        <div class="form-group mr-1">
                            <label id="lblVehicleTypeId" for="ddlVehicleTypeId" class="captionWeight">DATE</label>
                        </div>
                        <div class="form-group">
                            <input class="form-control form-control-sm frmfontsize serviceDdl" id="txtSchedulePickupDate" type="date" title="Order date" name="txtSchedulePickupDate" disabled>
                        </div>

                    </div>

                    <div class="row col-12 ml-0 col-no-padding">
                        <hr style="border-top:1px solid #e0e0e0; width:100%; margin-top:9px;margin-bottom:9px" />
                    </div>

                    <div class="row">
                        <div class="col-4">
                            <div class="row mb-1">
                                <div class="col-md-12 input-group">
                                    <input list="dlShipperCustomers" class="col-9 form-control form-control-sm frmfontsize col-no-margin" placeholder="Shipper name" id="txtShipperCustomerName" name="txtShipperCustomerName" type="search" disabled />
                                    <input type="text" class="col-2 form-control form-control-sm frmfontsize col-no-margin" placeholder="#####" id="txtShipperAccountNo" name="txtShipperAccountNo" disabled>
                                    <button type="button" class="col-1 col-1 btn btn-sm btn-secondary" placeholder="" id="btnAddShipperCustomer" disabled><i class="fa fa-plus"></i> </button>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-12 input-group">
                                    <input class="col-9 form-control form-control-sm frmfontsize" placeholder="Address" id="txtShipperAddressLine" name="txtShipperAddressLine" list="dlShipperAddressLines" type="search" disabled />
                                    <datalist id="dlShipperAddressLines"></datalist>
                                    <input type="text" class="col-3 form-control form-control-sm frmfontsize" placeholder="Unit" id="txtShipperUnitNo" name="txtShipperUnitNo" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 input-group">
                                    <select class="col-5 form-control form-control-sm frmfontsize  col-no-margin" id="ddlShipperCityId" name="ddlShipperCityId" style="-webkit-appearance: none;" disabled></select>

                                    <select class="col-2 form-control form-control-sm frmfontsize col-no-margin" id="ddlShipperProvinceId" name="ddlShipperProvinceId" style="-webkit-appearance: none;" disabled></select>
                                    <input type="text" class="col-3 form-control form-control-sm frmfontsize col-no-margin" placeholder="POSTCODE" id="txtShipperPostcode" name="txtShipperPostcode" disabled>

                                    <select class="col-2 form-control form-control-sm frmfontsize col-no-margin" id="ddlShipperCountries" name="ddlShipperCountries" style="-webkit-appearance: none;" disabled></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row mb-1">
                                <div class="col-md-12 input-group">
                                    <input list="dlConsigneeCustomers" class="form-control form-control-sm frmfontsize col-no-margin" placeholder="Consignee name" id="txtConsigneeCustomerName" name="txtConsigneeCustomerName" type="search" disabled />

                                    <input type="text" class="col-3 form-control form-control-sm frmfontsize col-no-margin" placeholder="####" id="txtConsigneeAccountNo" name="txtConsigneeAccountNo" disabled>
                                    <button type="button" class="col-1 col-1 btn btn-sm btn-secondary" placeholder="" id="btnAddConsigneeCustomer" disabled><i class="fa fa-plus"></i> </button>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-12 input-group">
                                    <input class="col-9 form-control form-control-sm frmfontsize col-no-margin" placeholder="Address" id="txtConsigneeAddressLine" name="txtConsigneeAddressLine" list="dlConsigneeAddressLines" type="search" disabled />
                                    <datalist id="dlConsigneeAddressLines"></datalist>
                                    <input type="text" class="col-3 form-control form-control-sm frmfontsize col-no-margin" placeholder="Unit" id="txtConsigneeUnitNo" name="txtConsigneeUnitNo" disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 input-group">
                                    <select class="col-5 form-control form-control-sm frmfontsize col-no-margin" id="ddlConsigneeCityId" name="ddlConsigneeCityId" style="-webkit-appearance: none;" disabled></select>
                                    <select class="col-2 form-control form-control-sm frmfontsize col-no-margin" id="ddlConsigneeProvinceId" name="ddlConsigneeProvinceId" style="-webkit-appearance: none;" disabled></select>
                                    <input type="text" class="col-3 form-control form-control-sm frmfontsize col-no-margin" placeholder="POSTCODE" id="txtConsigneePostcode" name="txtConsigneePostcode" disabled>
                                    <select class="col-2 form-control form-control-sm frmfontsize col-no-margin" id="ddlConsigneeCountries" name="ddlConsigneeCountries" style="-webkit-appearance: none;" disabled></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row mb-1 ml-2">
                                <div class="form-group col-2 col-no-padding">
                                    <input class="col-12 form-control form-control-sm frmfontsize" placeholder="Qty" id="txtUnitQuantity" type="number" min="0" name="txtUnitQuantity" title="Enter unit qty." style="background-color:#dff5ff" disabled>
                                </div>
                                <div class="form-group col-3 col-no-padding">
                                    <input class="col-12 form-control form-control-sm frmfontsize" placeholder="Skids" id="txtSkidQuantity" type="number" min="0" name="txtSkidQuantity" title="Enter skid qty." style="background-color:#b3ffc3" disabled>
                                </div>
                                <div class="form-group col-2 col-no-padding">
                                    <select class="col-12 form-control form-control-sm frmfontsize" id="ddlUnitTypeId" name="ddlUnitTypeId" disabled></select>
                                </div>
                                <div class="form-group col-2  col-no-padding ml-3">
                                    <input class="col-12 form-control form-control-sm frmfontsize" placeholder="Wgt." id="txtWeightTotal" type="number" min="0" title="Enter weight total" name="txtWeightTotal" step=".01" disabled>
                                </div>
                                <div class="form-group col-2  col-no-padding">
                                    <select class="col-12 form-control form-control-sm frmfontsize" id="ddlWeightScaleId" name="ddlWeightScaleId" style="-webkit-appearance: none;" disabled></select>
                                </div>
                            </div>
                            <div class="row mb-1 ml-2">
                                <div class="col-md-6 input-group col-no-padding">
                                    <input type="text" class="col-11 form-control form-control-sm frmfontsize" placeholder="Cargo Ctl#" id="txtCargoCtlNo" name="txtCargoCtlNo" title="Cargo Ctl No" disabled>
                                </div>
                                <div class="col-md-6 input-group col-no-padding ">
                                    <input type="text" class="col-11 form-control form-control-sm frmfontsize" placeholder="Awb Ctn#" id="txtAwbCtnNo" name="txtAwbCtnNo" title="Awb Ctn No" style="width:107px" disabled>
                                </div>
                            </div>

                            <div class="row mb-1 ml-2">
                                <div class="form-group mr-1">
                                    <label id="lblFuelSurcharge" for="txtFuelSurchargePercent" class="captionWeight">FUEL</label>
                                </div>
                                <div class="form-group col-2 col-no-padding mr-4">
                                    <input class="col-12 form-control form-control-sm frmfontsize" placeholder="Sur." id="txtFuelSurchargePercent" type="number" step=".01" name="txtFuelSurchargePercent" disabled>
                                </div>
                                <div class="form-group mr-1">
                                    <label id="lblDiscountPercent" for="txtDiscountPercent" class="captionWeight">DISC.</label>
                                </div>
                                <div class="form-group col-2 col-no-padding mr-3">
                                    <input class="col-12 form-control form-control-sm frmfontsize" placeholder="Disc." id="txtDiscountPercent" step=".01" type="number" name="txtDiscountPercent" disabled>
                                </div>
                                <div class="form-group mr-1">
                                    <input type="checkbox" class="form-check-inline form-check-input" id="chkIsGstApplicable" name="chkIsGstApplicable" disabled />
                                    <label class="form-check-inline form-check-label captionWeight" id="lblGstAmount"></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row ml-0 mt-3">
                        <div class="col-sm-9 pl-0">
                            <div class="row ml-0 mr-0">
                                <table style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="width: 170px;">Additional srv.</th>
                                            <th style="width: 72px;">Prc/Unt</th>
                                            <th style="width: 63px;">Qty</th>
                                            <th style="width: 88px;">Srv. Fee</th>
                                            <th style="width: 89px;">Pay Drv.</th>
                                            <th style="width: 79px;">Drv. %</th>
                                            <th style="width: 52px;">HST</th>
                                            <th style="width: 75px;">Update</th>
                                            <th style="width:125px; text-align:right;"><button style="width:135px" class="btn btn-sm btn-dark additionalServiceControl" id="btnAddAddtionalServiceRow" disabled> <i class="fa fa-eyedropper"></i> Add service</button></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="row ml-0 mr-0">
                                <div class="col-12 service-list pl-0 pr-0" id="service-list" style="overflow-y:scroll; height:107px; display:block;border:1px solid #d0d0d0;">

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="mb-2">
                                <div class="form-check-inline">
                                    <input type="checkbox" id="chkIsPrintOnWayBill" name="chkIsPrintOnWayBill" class="form-check-input" disabled />
                                    <label id="lblIsPrintOnWayBill" for="chkIsPrintOnWayBill" class="form-check-label">Print comments on W/B</label>
                                </div>
                                <div class="row">
                                    <div class="col-12 input-group">
                                        <textarea class="form-control form-control-sm" id="txtCommentsForWayBill" name="txtCommentsForWayBill" rows="1" cols="45" style="height:40px" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="form-check-inline">
                                    <input type="checkbox" id="chkIsPrintOnInvoice" name="chkIsPrintOnInvoice" class="form-check-input" disabled />
                                    <label id="lblIsPrintOnInvoice" for="chkIsPrintOnInvoice" class="form-check-label">Print comments on Invoice</label>
                                </div>
                                <div class="row">
                                    <div class="col-12 input-group">
                                        <textarea class="form-control form-control-sm" id="txtCommentsForInvoice" name="txtCommentsForInvoice" rows="1" cols="45" style="height:40px" disabled></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row ml-0 mt-3">
                        <div class="col-sm-4 pl-0">
                            <div class="row ml-0">
                                <div class="form-group mr-4">
                                    <label class="mt-0 captionWeight">System Cost</label>
                                </div>
                                <div class="input-group mr-1">
                                    <input class="form-control form-control-sm frmfontsize" placeholder="Ord. Cost" id="txtBaseOrderCost" type="number" min="0" step=".01" name="txtBaseOrderCost" title="Order cost" style="width:100px" required disabled>
                                    <input class="form-control form-control-sm frmfontsize ml-1" placeholder="Fuel" id="txtBaseOrderSurcharge" type="number" min="0" step=".01" name="txtBaseOrderSurcharge" title="Order surcharge" style="width:70px" disabled>
                                    <input class="form-control form-control-sm frmfontsize ml-1" placeholder="HST" id="txtBaseOrderGST" type="number" min="0" step=".01" name="txtBaseOrderGST" title="Order HST amount" style="width:70px" disabled>
                                </div>

                            </div>
                            <div class="row ml-0 mt-2">
                                <div class="form-group mr-2">
                                    <label class="mt-0 captionWeight">Override Cost</label>
                                </div>
                                <div class="input-group mr-1">
                                    <input class="form-control form-control-sm frmfontsize" placeholder="Ord. Cost" id="txtOverriddenOrderCost" type="number" min="0" step=".01" name="txtOverriddenOrderCost" title="Overriden order cost" style="width:101px" disabled>
                                    <input class="form-control form-control-sm frmfontsize ml-1" placeholder="Fuel" id="txtOverriddenOrderSurcharge" type="number" min="0" step=".01" name="txtOverriddenOrderSurcharge" title="Overriden/final surcharge" style="width:70px" disabled>
                                    <input class="form-control form-control-sm frmfontsize ml-1" placeholder="HST" id="txtOverriddenOrderGST" type="number" min="0" step=".01" name="txtOverriddenOrderGST" title="Overriden/final HST amount" style="width:70px" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <table class="table table-sm table-striped table-dark mb-1 text-center" style="width:715px">
                                <thead>
                                    <tr>
                                        <td scope="col"><small>Basic Cost</small></td>
                                        <td scope="col"><small>Fuel Surcharge</small></td>
                                        <td scope="col"><small>Sp. Discount</small></td>
                                        <td scope="col"><small>HST</small></td>
                                        <td scope="col"><small>Total Cost</small></td>
                                        <td scope="col"><small>Add. Charges</small></td>
                                        <th scope="col">Grand Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="height:32px">
                                        <td scope="row">
                                            <label id="lblGrandBasicCost" name="lblGrandBasicCost" title="Basic total">0.00</label>
                                        </td>
                                        <td>
                                            <label id="lblGrandFuelSurchargeAmount" name="lblGrandFuelSurchargeAmount" title="Fuel surcharge amount">0.00</label>
                                        </td>
                                        <td>
                                            <label id="lblGrandDiscountAmount" type="number" min="0" name="lblGrandDiscountAmount" title="Discount amount">0.00</label>
                                        </td>
                                        <td>
                                            <label id="lblGrandGstAmount" type="number" min="0" name="lblGrandGstAmount" title="HST amount">0.00</label>
                                        </td>

                                        <td><label id="lblGrandTotalOrderCost" type="number" min="0" name="lblGrandTotalOrderCost" title="Total order cost">0.00</label></td>
                                        <td><label id="lblGrandAddServiceAmount" type="number" min="0" name="lblGrandAddServiceAmount" title="Total additional service cost">0.00</label></td>
                                        <th class="bg-success">
                                            <label id="lblGrandTotalAmount" type="number" min="0" name="lblGrandTotalAmount" title="Grand total amount">0.00</label>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <input type="checkbox" id="chkIsReturnOrder" name="chkIsReturnOrder" title="Turn it on if you want to place a return order" data-toggle="toggle" data-on="<i class='fa fa-mail-forward'></i>  &nbsp;&nbsp; Single order" data-off="<i class='fa fa-mail-reply'></i>  &nbsp;&nbsp; Return order" data-onstyle="primary" data-offstyle="secondary" data-size="mini" data-width="160" data-height="28" data-style="mr-auto">
                    <button type="submit" class="btn btn-sm btn-primary pl-5 pr-5" id="btnSave" disabled><i class="fa fa-save"></i> SAVE </button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnClose"><i class="fa fa-cross"></i> CLOSE</button>
                </div>
            </div>
        </div>
    </form>
</div>

<form id="frmMiscOrderForm" class="form-inline">
    <!-- Modal - New Order -->
    <div class="modal fade" id="newMiscOrder" tabindex="-1" role="dialog" style="text-transform:uppercase">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <label class="modal-title mr-1"> MISC. ORDER </label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row ml-0 mr-0 mb-2">
                        <div class="form-group mr-3">
                            <label id="lblBillTo" for="txtBillToCustomerName" class="mr-1 captionWeight">BILL TO</label>
                            <input class="form-control form-control-sm frmfontsize" id="txtBillToCustomerName" name="txtBillToCustomerName" placeholder="Bill to" style="width:365px" />
                        </div>
                        <div class="form-group mr-3">
                            <label id="lblOrderDate" for="txtOrderDate" class="mr-1 captionWeight">ORDER DATE</label>
                            <input class="form-control form-control-sm frmfontsize" id="txtOrderDate" name="txtOrderDate" type="date" style="width:135px" />
                        </div>
                        <div class="form-group mr-3">
                            <label id="lblOrderedBy" for="txtOrderedBy" class="mr-1 captionWeight">ORDERED BY</label>
                            <input type="text" class="form-control form-control-sm frmfontsize" placeholder="Ordered by" id="txtOrderedBy" name="txtOrderedBy" title="Ordered by" style="width: 135px">
                        </div>
                        <div class="form-group">
                            <label id="lblPhoneNo" for="txtPhoneNo" class="mr-1 captionWeight">PHONE #</label>
                            <input type="text" class="form-control form-control-sm frmfontsize" placeholder="Phone" id="txtPhoneNo" name="txtPhoneNo" title="Phone #" style="width:115px">
                        </div>
                    </div>

                    <div class="row ml-0 mr-0">
                        <div class="form-group mr-3">
                            <label id="lblWayBillNo" for="txtWayBillNo" class="mr-2 captionWeight">W/B #</label>
                            <input class="form-control form-control-sm frmfontsize ml-1" placeholder="W/B #" style="width:100px" id="txtWayBillNo" type="number" name="txtWayBillNo">
                        </div>
                        <div class="form-group mr-3">
                            <label id="lblCustomerRefNo" for="txtCustomerRefNo" class="mr-1 captionWeight">CUST. REF#</label>
                            <input type="text" class="form-control form-control-sm frmfontsize" placeholder="Cust Ref" id="txtCustomerRefNo" name="txtCustomerRefNo" title="Customer ref #" style="width:173px">
                        </div>
                        <div class="form-group mr-3">
                            <label margin-left:5px" id="lblCargoCtlNo" for="txtCargoCtlNo" class="mr-1 captionWeight">CARGO CTL#</label>
                            <input type="text" class="form-control form-control-sm frmfontsize" placeholder="Cargo Ctl#" id="txtCargoCtlNo" name="txtCargoCtlNo" title="Cargo Ctl No" style="width:136px">
                        </div>
                        <div class="form-group mr-3">
                            <label id="lblAwbCtnNo" for="txtAwbCtnNo" class="mr-3 captionWeight">AWB/CTN#</label>
                            <input type="text" class="form-control form-control-sm frmfontsize" placeholder="Awb/CTN#" id="txtAwbCtnNo" name="txtAwbCtnNo" title="Awb Ctn No" style="width:133px">
                        </div>
                        <div class="form-group">
                            <label id="lblDepartment" for="txtDepartment" class="mr-4 captionWeight">DEPT.</label>
                            <input type="text" class="form-control form-control-sm frmfontsize" placeholder="Dept." id="txtDepartment" name="txtDepartment" title="Department" style="width:118px">
                        </div>
                    </div>

                    <div class="row ml-0 mr-0">
                        <hr style="border-top:1px solid #cccccc; padding:0px; width:100%" />
                    </div>

                    <div class="row ml-0 mr-0">
                        <div class="col-4" style="padding-left:0px">
                            <div class="row mb-1 ml-0">
                                <label class="captionWeight">SERVICE LOCATION</label>
                            </div>
                            <div class="row mb-1">
                                <div class="col-12 input-group">
                                    <input list="dlCustomers" class="col-9 form-control form-control-sm frmfontsize" placeholder="Customer name" id="txtCustomerName" name="txtCustomerName" type="search" />
                                    <input type="text" class="col-3 form-control form-control-sm frmfontsize" placeholder="####" id="txtCustomerAccountNo" name="txtCustomerAccountNo" readonly>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-12 input-group">
                                    <input class="col-9 form-control form-control-sm frmfontsize" placeholder="Address" id="txtCustomerAddressLine" name="txtCustomerAddressLine" list="dlCustomerAddressLines" type="search" />
                                    <datalist id="dlCustomerAddressLines"></datalist>
                                    <input type="text" class="col-3 form-control form-control-sm frmfontsize" placeholder="Unit" id="txtCustomerUnitNo" name="txtCustomerUnitNo">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 input-group">
                                    <select class="col-6 form-control form-control-sm frmfontsize" id="ddlCustomerCityId" name="ddlCustomerCityId" style="-webkit-appearance: none;">
                                    </select>
                                    <select class="col-2 form-control form-control-sm frmfontsize" id="ddlCustomerProvinceId" name="ddlCustomerProvinceId" style="-webkit-appearance: none;margin-left:0px">
                                    </select>
                                    <input type="text" class="col-2 form-control form-control-sm frmfontsize" placeholder="PCD" id="txtCustomerPostcode" name="txtCustomerPostcode" style="margin-left:0px">
                                    <select class="col-2 form-control form-control-sm frmfontsize" id="ddlCustomerCountries" name="ddlCustomerCountries" style="-webkit-appearance: none;margin-left:0px"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-4" style="padding-left:0px">
                            <div class="row mb-1 mr-0">
                                <div class="form-group col-sm-6">
                                    <label class="captionWeight">SVC. PROVIDED BY</label>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="captionWeight">AGREED RATE</label>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="form-group col-md-12 input-group">
                                    <input class="form-control form-control-sm frmfontsize" id="txtEmployeeName" type="search" placeholder="Service provided by" title="Service provided by" name="txtEmployeeName" list="dlEmployees">
                                    <select id="ddlShareTypeId" class="col-3 form-control form-control-sm frmfontsize">
                                        <option value="0">Fixed</option>
                                        <option value="1">Pct.(%)</option>
                                    </select>
                                    <input class="col-3 form-control form-control-sm frmfontsize" placeholder="Amount" id="txtShareAmount" name="txtShareAmount" type="number" />
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-12 input-group">
                                    <input class="col-6 form-control form-control-sm frmfontsize" placeholder="Delivered by" id="txtDeliveredBy" name="txtDeliveredBy" type="text" />
                                    <input class="col-3 form-control form-control-sm frmfontsize" placeholder="Bol ref#" id="txtBolRefNumber" name="txtBolRefNumber" type="text" style="margin-left:0px" />
                                    <input class="col-3 form-control form-control-sm frmfontsize" placeholder="Pro ref#" id="txtProRefNumber" name="txtProRefNumber" type="text" style="margin-left:0px" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 input-group">
                                    <input class="col-6 form-control form-control-sm frmfontsize" placeholder="Shipper" id="txtShipperName" name="txtShipperName" type="text" />
                                    <input class="col-6 form-control form-control-sm frmfontsize" placeholder="Address" id="txtShipperAddress" name="txtShipperAddress" type="text" style="margin-left:0px" />
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="row mb-1 mr-0">
                                <div class="form-group col-sm-9 pl-0">
                                    <label class="captionWeight">UNIT & QTY.</label>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label class="captionWeight">WEIGHT</label>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-12 input-group pl-0 pr-0">
                                    <input class="col-3 form-control form-control-sm frmfontsize" placeholder="Qty" id="txtUnitQuantity" type="number" min="1" name="txtUnitQuantity">
                                    <input class="col-3 form-control form-control-sm frmfontsize" placeholder="Skids" id="txtSkidQuantity" type="number" min="1" name="txtSkidQuantity" style="background-color:#b3ffc3">
                                    <select class="col-2 form-control form-control-sm frmfontsize mr-2" id="ddlUnitTypeId" name="ddlUnitTypeId">
                                    </select>

                                    <input class="col-2 form-control form-control-sm frmfontsize ml-3" placeholder="Wgt." id="txtWeightTotal" type="number" min="0" name="txtWeightTotal" step=".01">
                                    <select class="col-1 form-control form-control-sm frmfontsize" id="ddlWeightScaleId" name="ddlWeightScaleId" style="-webkit-appearance: none;">
                                    </select>
                                </div>
                            </div>

                            <div class="row">

                                <div class="form-group col-sm-9 pl-0 pr-0">
                                    <label id="lblDiscountPercent" for="txtDiscountPercent" class="mr-2 captionWeight">DISC.</label>
                                    <input class="form-control form-control-sm frmfontsize" placeholder="Disc." id="txtDiscountPercent" type="number" name="txtDiscountPercent" style="width:202px;">
                                </div>

                                <div class="form-group col-sm-3 pl-0 pr-0">
                                    <div class="form-check-inline">
                                        <label class="form-check-label captionWeight" id="lblTaxToCall"></label><label id="lblGstAmount" class="form-check-label captionWeight"></label> 
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row ml-0 mr-0">
                        <hr style="border-top:1px solid #cccccc; padding:0px; width:100%" />
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div style="overflow-y:scroll; height:150px; display:block;border:1px solid #d0d0d0; padding:5px">
                                <table style="margin-bottom:10px">
                                    <thead>
                                        <tr>
                                            <th style="width: 215px;">Additional svc.</th>
                                            <th style="width: 70px;">Prc/Unt</th>
                                            <th style="width: 50px;">Qty</th>
                                            <th style="width: 95px;">Srv. Chrg</th>
                                            <th style="width: 95px;">Apply HST</th>
                                            <th style="width: 75px;">Update</th>
                                            <th style="width:auto; text-align:center; margin-bottom:10px"><button class="btn btn-sm btn-dark additionalServiceControl" id="btnAddAddtionalServiceRow"> <i class="fa fa-eyedropper"></i> Add service</button></th>
                                        </tr>
                                        <tr>
                                            <td colspan="8">
                                                <hr style="width:100%; margin-top:3px; margin-bottom:0px">
                                            </td>
                                        </tr>
                                    </thead>
                                </table>

                                <table id="service-list" class="service-list"></table>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="row ml-0 mb-1">
                                <div class="form-check-inline">
                                    <input type="checkbox" id="chkIsPrintOnWayBill" name="chkIsPrintOnWayBill" class="form-check-input" />
                                    <label id="lblIsPrintOnWayBill" for="chkIsPrintOnWayBill" class="form-check-label captionWeight">Print comments on W/B</label>
                                </div>
                            </div>
                            <div class="row ml-0 mb-2">
                                <textarea class="form-control form-control-sm frmfontsize" id="txtCommentsForWayBill" placeholder="Comments for waybill" name="txtCommentsForWayBill" rows="2" cols="45"></textarea>
                            </div>
                            <div class="row ml-0 mb-1">
                                <div class="form-check-inline">
                                    <input type="checkbox" id="chkIsPrintOnInvoice" name="chkIsPrintOnInvoice" class="form-check-input" />
                                    <label id="lblIsPrintOnInvoice" for="chkIsPrintOnInvoice" class="form-check-label captionWeight">Print comments on Invoice</label>
                                </div>
                            </div>
                            <div class="row ml-0">
                                <textarea class="form-control form-control-sm frmfontsize" id="txtCommentsForInvoice" placeholder="Comments for invoice" name="txtCommentsForInvoice" rows="2" cols="45"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <div class="card bg-info mb-0" style="width:100%">
                                <table class="table table-sm table-striped table-dark mb-1 text-center">
                                    <thead>
                                        <tr>
                                            <td scope="col"><small>Basic Cost</small></td>
                                            <td scope="col"><small>Sp. Discount</small></td>
                                            <td scope="col"><small>HST</small></td>
                                            @*<td scope="col"><small>Total Cost</small></td>
                                                <td scope="col"><small>Add. Charges</small></td>*@
                                            <th scope="col">Grand Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="height:40px">
                                            <td scope="row">
                                                <label id="lblGrandBasicCost" name="lblGrandBasicCost" title="Basic total">0.00</label>
                                            </td>
                                            <td>
                                                <label id="lblGrandDiscountAmount" type="number" min="0" name="lblGrandDiscountAmount" title="Discount amount">0.00</label>
                                            </td>
                                            <td>
                                                <label id="lblGrandGstAmount" type="number" min="0" name="lblGrandGstAmount" title="HST amount">0.00</label>
                                            </td>
                                            <th class="bg-info">
                                                <label id="lblGrandTotalAmount" type="number" min="0" name="lblGrandTotalAmount" title="Grand total amount">0.00</label>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6" style="padding-left:0px">
                            <input type="hidden" id="hfOrderId" class="hfOrderId" name="hfOrderId" />
                            <input type="hidden" id="hfBillerCustomerId" />
                            <input type="hidden" id="hfCustomerId" />
                            <input type="hidden" id="hfCustomerAddressId" class="hfCustomerAddressId" name="hfCustomerAddressId" />
                            <input type="hidden" id="hfTaxAmount" class="hfTaxAmount" name="hfTaxAmount" value="" />
                            <input type="hidden" id="hfEmployeeId" class="hfEmployeeId" name="hfEmployeeId" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer padding-lg">
                    <button type="submit" class="btn btn-sm btn-primary pl-5 pr-5" id="btnSave"><i class="fa fa-check"></i> SAVE </button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnCloseModal"> CLOSE</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal - New Order -->
</form>

<div class="row">
    <div class="col-sm-10 input-group">
        <select class="col-4 form-control form-control-sm frmfontsize" id="ddlSearchItem">
            <option value="0">Delivery Order</option>
            <option value="1">Misc. Order</option>
            @*<option value="2">Invoice</option>
                <option value="3">Customer</option>*@
        </select>
        <label class="col-1 text-right">FROM</label>
        <input type="date" id="fromDate" class="form-control form-control-sm " />
        <label class="col-1 text-right">TO</label>
        <input type="date" id="toDate" class="form-control form-control-sm " />
        <button class="col-2 btn btn-sm btn-dark ml-3" type="button" id="btnSearch"><i class="fa fa-search"></i> SEARCH</button>
    </div>
</div>


<fieldset>
    <legend>CRITERIA</legend>

    <div class="row mb-3  form-inline">
        <label class="col-1" for="searchByWb"><input type="checkbox" class="mr-1" id="searchByWb"> W/B #</label>
        <select class="mr-1 form-control form-control-sm frmfontsize" id="optionForWayBill" title="Note: % means Like" disabled>
            <option value="1" selected=""> = </option>
            <option value="2">%</option>
        </select>
        <input class="col-1 form-control form-control-sm frmfontsize" id="txtWaybillNumber" type="text" disabled>

        <label class="col-1 pr-0 pl-1" for="searchByBillToCustomer"><input type="checkbox" class="mr-1" id="searchByBillToCustomer">BILL TO</label>
        <select class="mr-1 form-control form-control-sm frmfontsize" id="optionForBillTo" title="Note: % means Like" disabled>
            <option value="1" selected=""> = </option>
            <option value="2">%</option>
        </select>
        <input class="col-3 form-control form-control-sm frmfontsize" id="ddlBillToCustomer" type="text" disabled="">


        <label class="ml-4 mr-2" for="searchByShipper"> <input type="checkbox" class="mr-1" id="searchByShipper" /> SHPPR</label>
        <select class=" mr-1 form-control form-control-sm frmfontsize" id="optionForShipper" disabled>
            <option value="1" selected=""> = </option>
            <option value="2">%</option>
        </select>
        <input class="col-3 form-control form-control-sm frmfontsize" id="ddlShipper" type="text" disabled="">
    </div>


    <div class="row mb-3  form-inline">
        <label class="col-1" for="searchByCctn"> <input type="checkbox" class="mr-1" id="searchByCctn"> CCTN</label>
        <select class=" mr-1 form-control form-control-sm frmfontsize" id="optionForCctn" disabled="">
            <option value="1" selected=""> = </option>
            <option value="2">%</option>
        </select>
        <input class="form-control form-control-sm frmfontsize" id="txtCctnRef" type="text" disabled="">

        <label class="ml-4 mr-2" for="searchByActn"> <input type="checkbox" class="mr-1" id="searchByActn">ACTN</label>
        <select class=" mr-1 form-control form-control-sm frmfontsize" id="optionForActn" disabled="">
            <option value="1" selected=""> = </option>
            <option value="2">%</option>
        </select>
        <input class="col-2 form-control form-control-sm frmfontsize" id="txtActnRef" type="text" disabled="">

        <label class="ml-4 mr-1" for="searchByConsignee"> <input type="checkbox" class="mr-1" id="searchByConsignee"> CNSGN</label>
        <select class=" mr-1 form-control form-control-sm frmfontsize" id="optionForConsignee" disabled="">
            <option value="1" selected=""> = </option>
            <option value="2">%</option>
        </select>
        <input class="col-3 form-control form-control-sm frmfontsize" id="ddlConsignee" type="text" disabled="">
    </div>


    <div class="row mb-3  form-inline">
        <label class="col-1" for="searchByDlRef"> <input type="checkbox" class="mr-1" id="searchByDlRef"> DLREF</label>
        <select class=" mr-1 form-control form-control-sm frmfontsize" id="optionForDelRef" disabled="">
            <option value="1" selected=""> = </option>
            <option value="2">%</option>
        </select>
        <input class="form-control form-control-sm frmfontsize" id="txtDelRef" type="text" disabled="">

        <label class="ml-4 mr-1" for="searchByPuRef"> <input type="checkbox" class="mr-1" id="searchByPuRef">PUREF</label>
        <select class=" mr-1 form-control form-control-sm frmfontsize" id="optionForPuRef" disabled="">
            <option value="1" selected=""> = </option>
            <option value="2">%</option>
        </select>
        <input class="col-2 form-control form-control-sm frmfontsize" id="txtPuRef" type="text" disabled="">

        <label class="ml-4 mr-2" for="searchByOrderBy"> <input type="checkbox" class="mr-1" id="searchByOrderBy">ORDBY</label>
        <select class=" mr-1 form-control form-control-sm frmfontsize" id="optionForOrderBy" disabled="">
            <option value="1" selected=""> = </option>
            <option value="2">%</option>
        </select>
        <input class="col-3 form-control form-control-sm frmfontsize" id="txtOrderBy" type="text" disabled>
    </div>

    <div class="row mb-3  form-inline">
        <label class="col-1" for="searchByBolRef"> <input type="checkbox" class="mr-1" id="searchByBolRef"> BOL#</label>
        <select class=" mr-1 form-control form-control-sm frmfontsize" id="optionForBolRef" disabled="">
            <option value="1" selected=""> = </option>
            <option value="2">%</option>
        </select>
        <input class="form-control form-control-sm frmfontsize" id="txtBolRef" type="text" disabled="">

        <label class="ml-4 mr-2" for="searchByProRef"> <input type="checkbox" class="mr-1" id="searchByProRef">PRO#</label>
        <select class=" mr-1 form-control form-control-sm frmfontsize" id="optionForProRef" disabled="">
            <option value="1" selected=""> = </option>
            <option value="2">%</option>
        </select>
        <input class="col-2 form-control form-control-sm frmfontsize" id="txtProRef" type="text" disabled="">

        <label class="ml-4 mr-2" for="searchByCustomerRef"> <input type="checkbox" class="mr-1" id="searchByCustomerRef">CU. REF</label>
        <select class=" mr-1 form-control form-control-sm frmfontsize" id="optionForCustomerRef" disabled="">
            <option value="1" selected=""> = </option>
            <option value="2">%</option>
        </select>
        <input class="col-3 form-control form-control-sm frmfontsize" id="txtCustomerRef" type="text" disabled>
    </div>

</fieldset>

<div class="row mt-3">
    <div class="col-sm-12">
        <div style="display: block" id="loadSearchResult">

        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
<script src="~/js/search.js"></script>
