@using LogisticsManagement_Web.Models;
@model ViewModel_City


<script>
    $(document).ready(function () {

        if ($.fn.dataTable.isDataTable('#city-list')) {
            $('#city-list').DataTable().destroy();
        }
        $('#city-list').DataTable({
            "order": [[0, "asc"]],
            "paging": false,
            "language": {
                searchPlaceholder: 'Search...',
                search: "<i class='fa fa-search'></i>",

            }
        });
    });
</script>

<div class="row">
    <div class="col-sm-12">
        <table id="city-list" class="table table-sm table-striped table-bordered lms_dataTable" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.8em">
            <thead>
                <tr>
                    <th>City name</th>
                    <th>Province</th>
                    <th>Country</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Cities)
                {
                    <tr>
                        <td>
                            @item.CityName
                        </td>
                        <td>
                            @{
                                var provName = "";
                                provName = Model.Provinces.Where(c => c.Id == item.ProvinceId).FirstOrDefault().ShortCode;
                            }
                            @provName
                        </td>
                        <td>
                            @{
                                var countryName = "";
                                countryName = Model.Countries.Where(c => c.Id == item.CountryId).FirstOrDefault().CountryName;
                            }
                            @countryName
                        </td>

                        <td style="width:80px">
                            <button id="btnEdit" data-cityid='@item.Id' class="btn-primary smallGridIcon btnEdit" type="button"><i class="fa fa-pencil"></i> </button>
                            <button id="btnDelete" data-cityid='@item.Id' class="btn-danger smallGridIcon btnDelete " data-toggle="modal" data-target="#alert-modal" type="button"><i class="fa fa-trash"></i> </button>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>

