

<form id="frmOrderPickupForm">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header" style="background-color: #365396;color: #fff;">
                    <strong><i class="fa fa-sliders"></i> Pickup Order/s</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" id="txtWayBillNumber" type="number" name="txtWayBillNumber" min="0" placeholder="W/B" title="Waybill number">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 form-group">
                            <select class="form-control" id="ddlOrderTypeId">
                                <option value="1" selected>Single order</option>
                                <option value="2">Return order</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 form-group">
                            <label for="txtDispatchedDateTime">Dispatch date and time</label>
                            <input type="datetime-local" id="txtDispatchedDateTime" class="form-control txtDispatchedDateTime" readonly />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label for="txtEmployeeName">Dispatched to</label>
                            <input type="text" id="txtEmployeeName" class="form-control txtEmployeeName" readonly />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 form-group">
                            <label for="txtPickupDateTime">Pickup date and time</label>
                            <input type="datetime-local" id="txtPickupDateTime" class="form-control txtPickupDateTime" />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label for="txtWaitTime">Wait time (hour)</label>
                            <input type="number" id="txtWaitTime" class="form-control txtWaitTime" placeholder="Wait time" min="0" step=".01" title="Wait time (in hours)" />
                        </div>
                        

                    </div>

                    <hr />
                    <div class="row">
                        <div class="col-sm-10">
                            <input type="hidden" id="hfOrderId" class="hfOrderId" name="hfOrderId" />
                            <button type="reset" class="btn btn-primary" id="btnClear"><i class="fa fa-plus-circle"></i> Clear</button>
                            <button type="submit" class="btn btn-success" id="btnSave"><i class="fa fa-save"></i> Save pickup</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<hr />

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header" style="background-color: #c3c3c3;">
                <strong><i class="fa fa-sliders"></i> Already Picked up orders</strong>
                <div class="card-header-actions">
                    <span id="spinnerLoadingDataTable" style="display:none">
                        <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true" style="margin-right:5px"></span>
                        <span style="margin-right:20px">Loading...</span>
                    </span>
                    <button id="btnDownloadDataPickedupData" type="button" class="btn btn-sm btn-primary" title="Load existing data" style="padding:0px 5px 0px 5px"><i class="fa fa-download"></i></button>
                    <span style="display:none" id="loadingSpinner"><i class="fa fa-circle-o-notch"></i></span>
                    <span>&nbsp;&nbsp;</span>
                    <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#collapseDatatable" aria-expanded="true">
                        <i class="icon-arrow-up"></i>
                    </a>
                </div>
            </div>
            <div class="collapse show" id="collapseDatatable">
                <div class="card-body">
                    <div id="loadPickedupDataTable">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/order-pickup.js"></script>
