@using LogisticsManagement_Web.Models;
@model LogisticsManagement_Poco.Lms_CompanyInfoPoco

@{
    ViewData["Title"] = "Company Info";
}

<h3>
    @ViewData["Title"]
</h3>
<hr style="margin-bottom:40px" />


<form id="frmCompanyForm">
    <div class="row" style="display:none">
        <div class="col-sm-12 form-group">
            <input class="col-2 form-control form-control-sm" placeholder="&#xF002; Id" style="font-family:Arial, FontAwesome" id="txtCompanyId" type="number" name="txtCompanyId" value="@Model.Id" readonly>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-8">
            <small>
                <b>
                    <label id="lblCompanyName" for="txtCompanyName">Company name</label>
                </b>
            </small>
            <input class="form-control form-control-sm" id="txtCompanyName" placeholder="Company name" name="txtCompanyName" type="text" maxlength="70" required />
        </div>


    </div>

    <div class="row">
        <div class="form-group col-sm-8">
            <small>
                <b>
                    <label id="lblAddress" for="txtAddress">Address</label>
                </b>
            </small>
            <input class="form-control form-control-sm" id="txtAddress" name="txtAddress" placeholder="Address" maxlength="250" type="text" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <small>
                <b>
                    <label id="lblEmailAddress" for="txtEmailAddress">Email</label>
                </b>
            </small>
            <input class="form-control form-control-sm" id="txtEmailAddress" name="txtEmailAddress" placeholder="Email" maxlength="150" type="text" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-4">
            <small>
                <b>
                    <label id="lblPhoneNumber" for="txtPhoneNumber">Phone</label>
                </b>
            </small>
            <input class="form-control form-control-sm" id="txtPhoneNumber" name="txtPhoneNumber" placeholder="Phone" maxlength="20" type="text" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-4">
            <small>
                <b>
                    <label for="fileCompanyLogo"> Logo</label>
                </b>
            </small>
            <input id="fileCompanyLogo" name="fileCompanyLogo" placeholder="Logo" type="file" class="form-control form-control-sm" style="height:35px" />
        </div>
        <div class="col-sm-3">
            <img id="imgCompanyLogo" src="" alt="Logo pic" style="width:180px;height:150px; margin-top:50px; border:1px solid #c3c3c3; padding: 5px" />
        </div>
    </div>

    <hr />
    <button type="submit" class="btn btn-sm btn-success" id="btnSave"><i class="fa fa-save"></i> Save record</button>

</form>

<hr />

<script src="~/js/company.js"></script>
