@using LogisticsManagement_Web.Models;
@model LogisticsManagement_Poco.Lms_CompanyInfoPoco

@{
    ViewData["Title"] = "COMPANY INFO";
}

<h3>
    @ViewData["Title"]
</h3>
<hr style="margin-bottom:20px" />


<form id="frmCompanyForm" style="text-transform:uppercase">
    <input id="txtCompanyId" type="hidden" value="@Model.Id">

    <div class="row">
        <div class="col-sm-8">
            <div class="row mb-3">
                <div class="form-group col-sm-12">
                    <label id="lblCompanyName" for="txtCompanyName" c>Company name</label>
                    <input class="col-12 form-control form-control-sm frmfontsize" id="txtCompanyName" placeholder="Company name" name="txtCompanyName" type="text" maxlength="70" required />
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group col-sm-12">
                    <label id="lblAddress" for="txtAddress">Address</label>
                    <input class="col-12 form-control form-control-sm frmfontsize" id="txtAddress" name="txtAddress" placeholder="Address" maxlength="250" type="text" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="form-group col-sm-12">
                    <label id="lblEmailAddress" for="txtEmailAddress">Email</label>
                    <input class="col-12 form-control form-control-sm frmfontsize" id="txtEmailAddress" name="txtEmailAddress" placeholder="Email" maxlength="150" type="text" />
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12">
                    <label id="lblPhoneNumber" for="txtPhoneNumber">Phone</label>
                    <input class="col-12 form-control form-control-sm frmfontsize" id="txtPhoneNumber" name="txtPhoneNumber" placeholder="Phone" maxlength="20" type="text" />
                </div>
            </div>
            
        </div>
        <div class="col-sm-4">
            <div class="row mt-4 ml-3">
                <div class="form-group col-sm-12">
                    <img id="imgCompanyLogo" src="~/images/others/no-image.png" alt="Company Logo" style="width:auto;height:100px; border:1px solid #c3c3c3; padding: 10px" />
                </div>
            </div>
            <div class="row mt-2 ml-3">
                <div class="form-group col-sm-12">
                    <label for="fileCompanyLogo" class="col-sm-12 pl-0">Logo</label>
                    <input id="fileCompanyLogo" name="fileCompanyLogo" type="file" />
                </div>
            </div>
        </div>
    </div>

    <hr />

    <button type="submit" class="btn btn-sm btn-primary pl-5 pr-5" id="btnSave"><i class="fa fa-save"></i> Save record</button>

</form>



<script src="~/js/company.js"></script>
