
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintWaybill</title>
</head>
<body>
    <table style="border:1px solid black;  margin:0 auto; width:1000px; font-family:Arial; border-collapse:collapse; " border="2" cellpadding="0" cellspacing="0">

        <tr>
            <td colspan="5" style="height:20px"></td>
        </tr>
        <tr>
            <td rowspan="2" style="width:280px; text-align:center">
                <b><span style="font-size:1.2em"> Millenium Freightways Inc.</span></b><br /><br />
                <table style="border-collapse:collapse; border:none;margin: 0 auto" cellpadding="0" cellspacing="0">

                    <tr>
                        <td rowspan="2"><img src="~/lib/img/mfi-logo-withoutname.jpg" style="width:70px; height:50px" /></td>
                        <td><b style="padding-left:20px">Tel: + 905.7958686</b></td>
                    </tr>
                    <tr>
                        <td><b style="padding-left:20px">Fax: + 905.7958687</b></td>
                    </tr>
                </table>
            </td>
            <td style="width:120px; text-align:center">
                <b>Date:<br /> 05/05/2019</b>
            </td>
            <td style="width:130px; text-align:center"><b>Account #<br /> 65485 </b></td>
            <td style="width:180px; text-align:center"><b>Customer ref# <br /> 364-HR-P </b></td>
            <td style="width:180px; text-align:center "><b>WB # <br />  <span style="font-size:1.2em; text-align:right"> 9865456 </span> </b></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center"><b>Cargo Ctl #<br /> 65485 </b></td>
            <td colspan="2" style="text-align:center"><b>AWB/Container#<br /> 65485 </b></td>

        </tr>

        <tr>
            <td colspan="2" style="text-align:center"><b>Cargo Ctl #<br /> 65485 </b></td>
            <td colspan="2" style="text-align:center"><b>AWB/Container#<br /> 65485 </b></td>

        </tr>






    </table>

</body>
</html>
