@using LogisticsManagement_Web.Models;
@model ViewModel_Bank

<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#bank-list')) {
            $('#bank-list').DataTable().destroy();
        }
        $('#bank-list').DataTable({
            "order": [[0, "asc"]],
            "paging": true,
            info: true,
            searching: true,
            "language": {
                searchPlaceholder: 'Search...',
                search: "<i class='fa fa-search'></i>",

            }
        });
    });
</script>


<table id="bank-list" class="table table-sm table-striped table-bordered lms_dataTable" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.8em">
    <thead class="dtTheadBg">
        <tr>
            <th>Bank name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Banks)
        {
            <tr>
                <td>
                    @item.BankName
                </td>
                <td style="width:80px">
                    <button id="btnEdit" data-bankid='@item.Id' class="btn-primary btnEdit" type="button"><i class="fa fa-pencil"></i> </button>
                    <button id="btnDelete" data-bankid='@item.Id' class="btn-danger btnDelete " data-toggle="modal" data-target="#alert-modal" type="button"><i class="fa fa-trash"></i> </button>
                </td>
            </tr>
        }
    </tbody>
</table>
