@using LogisticsManagement_Web.Models;
@model ViewModel_Tariff


<script>
    $(document).ready(function () {

        if ($.fn.dataTable.isDataTable('#tariff-list')) {
            $('#tariff-list').DataTable().destroy();
        }
        $('#tariff-list').DataTable({
            "order": [[0, "desc"]],
            "paging": false,
            "language": {
                searchPlaceholder: 'Search...',
                search: "<i class='fa fa-search'></i>",

            }
        });
    });
</script>

<div class="row">
    <div class="col-sm-12">
        <table id="tariff-list" class="table table-sm table-striped table-bordered lms_dataTable" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.8em">
            <thead>
                <tr>
                    <th>City</th>
                    <th>Delivery</th>
                    <th>Transport</th>
                    <th>Unit</th>
                    <th>First Unit</th>
                    <th>Per Unit</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tariffs)
                {
                    <tr>
                        <td>
                            @{
                                var cityName = Model.Cities.Where(c => c.Id == item.CityId).FirstOrDefault().CityName;
                                @cityName
                            }

                        </td>
                        <td>
                            @{
                                var deliveryOptionName = Model.DeliveryOptions.Where(c => c.Id == item.DeliveryOptionId).FirstOrDefault().OptionName;
                                @deliveryOptionName
                            }
                        </td>
                        <td>
                            @{
                                var vehicleTypeName = Model.VehicleTypes.Where(c => c.Id == item.VehicleTypeId).FirstOrDefault().TypeName;
                                @vehicleTypeName
                            }
                        </td>
                        <td>
                            @{
                                var unitTypename = Model.UnitTypes.Where(c => c.Id == item.UnitTypeId).FirstOrDefault().TypeName;
                                @unitTypename
                            }
                        </td>
                        <td>@item.FirstUnitPrice</td>
                        <td>@item.PerUnitPrice</td>
                        <td>
                            <button id="btnEdit" data-tariffid='@item.Id' class="btn btn-sm btn-primary btnEdit" type="button"><i class="fa fa-edit"></i> </button>
                            <button id="btnDelete" data-tariffid='@item.Id' class="btn btn-sm btn-danger btnDelete" data-toggle="modal" data-target="#alert-modal" type="button"><i class="fa fa-trash"></i> </button>
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</div>
<script src="~/js/tariff.js"></script>