
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reprtdfdf</title>
</head>
<body>
    test
    stest
    set
    set
    <br />
    aas
    asa
    s
</body>
</html>
