
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StandardPdf</title>
</head>
<body>
    trtet.e
    rt
    er
    te
    r
    ter

</body>
</html>
