
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WayBillPrintPreview</title>
</head>
<body>
    <table style="border:1px solid black" cellpadding="5">
        <tr></tr>
        <tr>
            <td rowspan="2">Logo</td>
            <td>sd</td>
            <td>sdf</td>
            <td>sdfs</td>
            <td>sdf</td>
        </tr>
    </table>
    <table style="width:100%;"><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></table>
</body>
</html>
