@using LogisticsManagement_Poco;
@model List<Lms_AdditionalServicePoco>

@{
    ViewData["Title"] = "ADDITIONAL SERVICES";
}

<div class="row">
    <div class="col-sm-10">
        <h3>
            @ViewData["Title"]
        </h3>
    </div>
    <div class="col-sm-2">
        <button id="btnAddNewAddService" type="button" class="btn btn-sm btn-danger form-control" title="Additional service" data-toggle="modal"><i class="fa fa-plus-circle"></i> New Service </button>
    </div>
</div>

<hr style="margin-bottom:40px" />


<form id="frmAddServiceForm" class="form-inline">
    <div class="modal fade" id="additionalService" tabindex="-1" role="dialog" style="text-transform:uppercase">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <label class="modal-title mr-1"> ADDITIONAL SERVICE </label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="form-group col-sm-12">
                            <label for="txtServiceName" class="captionWeight mr-2">Name</label>
                            <input class="col-5 form-control form-control-sm frmfontsize mr-3" id="txtServiceName" placeholder="Service name" type="text">
                            <label for="txtShortCode" class="captionWeight mr-2">Code</label>
                            <input class="col-3 form-control form-control-sm frmfontsize" id="txtShortCode" placeholder="Short code" type="text">
                            <input class="col-1 form-control form-control-sm frmfontsize" placeholder="###" id="txtServiceId" type="number" min="1" name="txtServiceId" readonly="">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="form-group col-sm-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="chkIsTaxApplicable" type="checkbox" />
                                <label class="form-check-label captionWeight" for="chkIsTaxApplicable">HST APPLICABLE</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="chkPayToDriver" type="checkbox" />
                                <label class="form-check-label captionWeight" for="chkPayToDriver">PAY TO DRIVER</label>
                            </div>
                            <div class="form-group col-sm-4">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="chkIsApplicableForStorage" type="checkbox" />
                                    <label class="form-check-label captionWeight" for="chkIsApplicableForStorage">FOR STORAGE</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="form-group col-sm-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="chkUnitPriceApplicable" type="checkbox" />
                                <label class="form-check-label captionWeight" for="chkUnitPriceApplicable">APPLY UNIT PRICE</label>
                            </div>
                            <input class="form-control form-control-sm frmfontsize" id="txtUnitPrice" type="number" step="0.1" max="9999" placeholder="Price" disabled />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" id="chkIsActive" type="checkbox" checked />
                                <label class="form-check-label captionWeight" for="chkIsActive">IS ACTIVE</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer padding-lg">
                    <button type="submit" class="btn btn-sm btn-primary pl-5 pr-5" id="btnSave"><i class="fa fa-save"></i> SAVE</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnCloseModal"> CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-sm-12">
        <div style="display: block" id="loadAdditionalServicesDataTable">
            <partial name="_PartialViewServiceData" />
        </div>
    </div>

</div>


<script src="~/js/additional-service.js"></script>