@using LogisticsManagement_Poco;
@model List<Lms_AdditionalServicePoco>

@{
    ViewData["Title"] = "Additional Services";
}

<div class="row">
    <div class="col-sm-10">
        <h4>
            @ViewData["Title"]
        </h4>
    </div>
    <div class="col-sm-2">
        <button id="btnAddNewAddService" type="button" class="btn btn-sm btn-danger form-control" title="Additional service" data-toggle="modal"><i class="fa fa-plus-circle"></i> New Service </button>
    </div>
</div>

<hr style="margin-bottom:40px" />


<form id="frmAddServiceForm">

    <div class="modal fade bd-example-modal-xl" id="additionalService" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content bg-light">
                <div class="modal-header" style="justify-content:initial;padding-top:9px;padding-bottom:9px; padding-right:0px">
                    <img src="~/images/flaticons-64x64/wishlist.png" style="height:25px; padding-left:14px; padding-right:10px" />
                    <b id="exampleModalCenterTitle">Additional service</b>
                    <div class="col-sm-3 offset-6" style="padding-right:0px;text-align:right">
                        <button type="button" style="margin-right:-18px" class="btn btn-sm btn-secondary" aria-label="Close" id="btnCloseModal"><i class="fa fa-times"></i> </button>
                    </div>
                </div>

                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <input class="col-2 form-control form-control-sm" placeholder="&#xF002; Id" style="font-family:Arial, FontAwesome" id="txtServiceId" type="number" min="1" name="txtServiceId" readonly>
                            </div>
                        </div>
                        <input type="hidden" id="hfServiceId" />
                        <div class="row">
                            <div class="form-group col-sm-5">
                                <small>
                                    <b>
                                        <label for="txtServiceName">Name</label>
                                    </b>
                                </small>
                                <input class="form-control form-control-sm" id="txtServiceName" placeholder="Service name" type="text" />
                            </div>
                            <div class="form-group col-sm-3">
                                <small>
                                    <b>
                                        <label for="txtShortCode">Short code</label>
                                    </b>
                                </small>
                                <input class="form-control form-control-sm" id="txtShortCode" placeholder="Short code" type="text" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-4">

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="chkIsTaxApplicable" type="checkbox" />
                                    <small>
                                        <b>
                                            <label class="form-check-label" for="chkIsTaxApplicable">HST APPLICABLE</label>
                                        </b>
                                    </small>
                                </div>
                            </div>

                            <div class="form-group col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="chkPayToDriver" type="checkbox" />
                                    <small>
                                        <b>
                                            <label class="form-check-label" for="chkPayToDriver">PAY TO DRIVER</label>
                                        </b>
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-4">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="chkIsApplicableForStorage" type="checkbox" />
                                    <small>
                                        <b>
                                            <label class="form-check-label" for="chkIsApplicableForStorage">APPLICABLE FOR STORAGE</label>
                                        </b>
                                    </small>
                                </div>
                            </div> <div class="form-group col-sm-3">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="chkIsActive" type="checkbox" />
                                    <small>
                                        <b>
                                            <label class="form-check-label" for="chkIsActive">MAKE ACTIVE</label>
                                        </b>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <button type="submit" style="float:right" class="btn btn-sm btn-success" id="btnSave"><i class="fa fa-check"></i> Save </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-sm-12">
        <div style="display: block; max-height: 240px; min-height: 80px; padding:10px; overflow-y:scroll; overflow-x:hidden; border:1px solid #c3c3c3; margin-bottom:15px" id="loadAdditionalServicesDataTable">
            <partial name="_PartialViewServiceData" />
        </div>
    </div>

</div>


<script src="~/js/additional-service.js"></script>