@using LogisticsManagement_Web.Models;
@model ViewModel_Province

@{
    ViewData["Title"] = "PROVINCE";
}

<div class="row">
    <div class="col-sm-2">
        <h3>
            @ViewData["Title"]
        </h3>
    </div>

    <div class="col-sm-2 offset-8">
        <button id="btnNewProvince" type="button" class="btn btn-sm btn-danger form-control" title="Add New City" data-toggle="modal"><i class="fa fa-plus-circle"></i> New Province </button>
    </div>
</div>

<hr style="margin-bottom:20px" />
<div class="row">
    <div class="col-sm-12">
        <div style="display: block" id="loadCustomerDataTable">
            <partial name="_PartialViewProvinceData" />
        </div>
    </div>

</div>

<form id="frmProvinceForm" class="form-inline">
    <div class="modal fade" id="provinceInformation" tabindex="-1" role="dialog" style="text-transform:uppercase">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <label class="modal-title mr-1"> PROVINCE </label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="form-group col-sm-12">
                            <input class="col-8 form-control form-control-sm frmfontsize" id="txtProvinceName" placeholder="Province name" name="txtProvinceName" type="text" maxlength="150" />
                            <input class="col-3 form-control form-control-sm frmfontsize" id="txtShortCode" placeholder="Short code" name="txtShortCode" type="text" maxlength="2" />
                            <input class="col-1 form-control form-control-sm frmfontsize" id="txtProvinceId" placeholder="##" name="txtProvinceId" type="text" maxlength="10" disabled />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <select class="col-12 form-control form-control-sm frmfontsize" id="ddlCountryId" name="ddlCountryId">
                                <option value="0">Country</option>
                                @foreach (var country in Model.Countries)
                                {
                                    var selected = false;
                                    if (country.Id == 41)
                                    {
                                        selected = true;
                                    }
                                    <option value="@country.Id" selected="@selected">@country.CountryName</option>
                                }
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer padding-lg">
                    <button type="submit" class="btn btn-sm btn-primary pl-5 pr-5" id="btnSave"><i class="fa fa-save"></i> SAVE</button>
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnCloseModal"> CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="~/js/province.js"></script>