@using LogisticsManagement_Web.Models;
@model List<ViewModel_OrderReadyForInvoice>

@{
    ViewData["Title"] = "Prepare invoice ";
}

<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#orderdispatch-list')) {
            $('#orderdispatch-list').DataTable().destroy();
        }
        $('#orderdispatch-list').DataTable({
            "order": [[0, "desc"]]
        });
    });
</script>

<h3>
    @ViewData["Title"]
</h3>
<hr />



<div class="row">
    <div class="col-12">
        <button id="btnPrintPreview" class="btn btn-sm btn-danger" style="float:right; margin-bottom:15px"><i class="fa fa-print"></i> Print preview </button>
    </div>
</div>


<form id="frmInvoiceGenerationForm">
    <div class="row">
        <div class="col-md-12">
            <div style="display:block; max-height:200px; min-height:75px; overflow-y:scroll; overflow-x:hidden; border:1px solid #c3c3c3; margin-bottom:15px" id="loadPendingInvoiceDataTable">
                <partial name="_PartialViewPendingData" />
            </div>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-sm btn-primary" id="btnSave"><i class="fa fa-save"></i> Generate invoice/s</button>
        </div>
    </div>
</form>

<br /><br />

<h3>Available invoices</h3>
<hr />

<div class="row">
    <div class="col-md-12">
        <div style="display:block; max-height:200px; min-height:75px; overflow-y:scroll; overflow-x:hidden; border:1px solid #c3c3c3; margin-bottom:15px" id="loadInvoicedDataTable">
            @*<partial name="_PartialViewInvoicedData" />*@
        </div>
    </div>
</div>


<script src="~/js/invoice.js"></script>
