@using LogisticsManagement_Web.Models;
@model List<ViewModel_OrderReadyForInvoice>

@{
    ViewData["Title"] = "Prepare invoice ";
}

<h3>
    @ViewData["Title"]
</h3>
<hr />

<div class="row">

    <div class="col-sm-2 form-group">
        <small> <b><label for="txtStartDate">From date</label></b></small>
        <input type="date" id="txtStartDate" class="form-control form-control-sm txtStartDate" />
    </div>
    <div class="col-sm-2 form-group">
        <small> <b><label for="txtToDate">To date</label></b></small><input type="date" id="txtToDate" class="form-control form-control-sm txtToDate" />
    </div>
    <div class="col-sm-3 form-group">
        <small> <b><label for="ddlCustomerId">Customer</label></b></small>
        <select class="form-control form-control-sm" id="ddlCustomerId" style="background-color:#c8fde4; font-weight:bold">
            <option value="0">- All -</option>
            @foreach (var item in ViewBag.Customers)
            {
                <option value="@item.Id"> @item.CustomerName </option>
            }
        </select>
    </div>
    <div class="col-sm-3 form-group" style="margin-top:28px; padding-left:15px">
        <small>
            <div class="form-control form-control-sm form-check-inline align-content-center">
                <input type="radio" id="rdoDeliveryOrder" name="orderType" class="form-check-input" value="1" style="margin-left:15px" checked />
                <label id="rdoDeliveryOrder" class="form-check-label">Delivery orders</label> &nbsp;&nbsp;&nbsp;
                <input type="radio" id="rdoMiscOrder" name="orderType" class="form-check-input" value="3" />
                <label id="rdoMiscOrder" class="form-check-label">Misc. orders</label>
            </div>
        </small>
    </div>
    <div class="col-sm-2 form-group" style="margin-top:28px">
        <small> <b><label for="btnFilter"></label></b></small><button id="btnFilter" class="btn btn-sm btn-dark"> Load invoices</button>
    </div>


</div>


<form id="frmInvoiceGenerationForm">
    <div class="row">
        <div class="col-md-12">
            <div style="display:block; max-height:200px; min-height:75px; overflow-y:scroll; overflow-x:hidden; border:1px solid #c3c3c3; margin-bottom:15px" id="loadPendingInvoiceDataTable">
                <partial name="_PartialViewPendingData" />
            </div>
        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-sm btn-primary" id="btnGenerateInvoice"><i class="fa fa-gear"></i> Generate invoice/s</button>
        </div>
        <div class="col-2 form-group">
            <button id="btnPrintPreview" class="btn btn-sm btn-danger" style="float:right; margin-bottom:15px"><i class="fa fa-print"></i> Print preview </button>
        </div>

    </div>
</form>

<br /><br />

@*<h3>Available invoices</h3>
    <hr />

    <div class="row">
        <div class="col-md-12">
            <div style="display:block; max-height:200px; min-height:75px; overflow-y:scroll; overflow-x:hidden; border:1px solid #c3c3c3; margin-bottom:15px" id="loadInvoicedDataTable">
                <partial name="_PartialViewInvoicedData" />
            </div>
        </div>
    </div>*@


<script src="~/js/invoice.js"></script>
