@using LogisticsManagement_Web.Models;
@model DispatchBoardViewModel


<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#orderdispatch-list')) {
            $('#orderdispatch-list').DataTable().destroy();
        }
        $('#orderdispatch-list').DataTable({
            "order": [[0, "desc"]]
        });
    });
</script>
<form id="frmInvoiceGenerationForm">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header" style="background-color: #365396;color: #fff;">
                    <strong><i class="fa fa-sliders"></i> Select Order/s</strong>
                    <div class="card-header-actions">
                        <span id="spinnerLoadingDataTable" style="display:none">
                            <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true" style="margin-right:5px"></span>
                            <span style="margin-right:20px">Loading...</span>
                        </span>
                        <button id="btnDownloadWayBillData" type="button" class="btn btn-sm btn-primary" title="Load existing data" style="padding:0px 5px 0px 5px"><i class="fa fa-download"></i></button>
                        <span style="display:none" id="loadingSpinner"><i class="fa fa-circle-o-notch"></i></span>
                        <span>&nbsp;&nbsp;</span>
                        <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#collapseDatatable" aria-expanded="true">
                            <i class="icon-arrow-up"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div id="loadPendingWayBillDataTable">
                        <partial name="_PartialViewWayBillData" />
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="txtDispatchDateTime">Dispatch date and time</label>
                            <input type="datetime-local" id="txtDispatchDateTime" class="form-control txtDispatchDateTime" />
                        </div>
                        <div class="col-sm-3">
                            <label for="ddlEmployeeId">Select employee</label>

                            <select class="form-control" id="ddlEmployeeId" name="ddlEmployeeId">
                                <option value="0">Employee/driver</option>
                                @foreach (var employee in Model.Employees)
                                {
                                    <option value="@employee.Id">@employee.FirstName @employee.LastName (@employee.EmployeeNumber)</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label for="txtEmployeeNumber">Employee no.</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" id="txtEmployeeNumber" type="number" name="txtEmployeeNumber" min="1" placeholder="Employee no." title="Employee number">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <hr />
                    <div class="row">
                        <div class="col-sm-10">
                            <input type="hidden" id="hfOrderId" class="hfOrderId" name="hfOrderId" />
                            <button type="reset" class="btn btn-primary" id="btnClear"><i class="fa fa-plus-circle"></i> Clear</button>
                            <button type="submit" class="btn btn-success" id="btnSave"><i class="fa fa-save"></i> Save dispatch</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

<br /><br />
<hr />

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header" style="background-color: #c3c3c3;">
                <strong><i class="fa fa-sliders"></i> Dispatched orders</strong>
                <div class="card-header-actions">
                    <span id="spinnerLoadingDataTable" style="display:none">
                        <span class="spinner-border spinner-border-sm text-primary" role="status" aria-hidden="true" style="margin-right:5px"></span>
                        <span style="margin-right:20px">Loading...</span>
                    </span>
                    <button id="btnDownloadDataDispatchData" type="button" class="btn btn-sm btn-primary" title="Load existing data" style="padding:0px 5px 0px 5px"><i class="fa fa-download"></i></button>
                    <span style="display:none" id="loadingSpinner"><i class="fa fa-circle-o-notch"></i></span>
                    <span>&nbsp;&nbsp;</span>
                    <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#collapseDatatable" aria-expanded="true">
                        <i class="icon-arrow-up"></i>
                    </a>
                </div>
            </div>
            <div class="collapse show" id="collapseDatatable">
                <div class="card-body">
                    <div id="loadDispatchedDataTable">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/order-dispatch.js"></script>
