
@{
    Layout = null;
}

<!DOCTYPE html>
<style type="text/css">

    .tdStyle {
        padding: 4px;
        vertical-align: top;
        border-left: none;
        border-right: none;
    }

    .pagebreak {
        page-break-after: always;
    }
</style>

<html>
<body>
    <table style="border:0px solid black" width="900" border="0">
        <tbody>
            <tr>
                <td style="width: 250px; vertical-align: top; text-align:right">
                    <img src="~/images/clients/mfi_logo.jpg" style="width:90px; height:70px" />
                </td>
                <td style="text-align: center; vertical-align: top;" colspan="3">
                    <table border="0" style="width:100%">
                        <tr>
                            <td>
                                <b><span style="font-size:1.5em"> Millenium Freightways Inc.</span></b><br />
                                <span>1981 BOYLEN ROAD # 11, MISSISSAUGA, ONTARIO, L5S 1R9</span><br />
                                <span>Tel: 905-7958686, Fax: 905-7958687, Email: accounts@milfrt.ca</span>
                            </td>
                            <td style="text-align: right; width:20%; vertical-align: top;">
                                
                            </td>
                        </tr>
                    </table>


                </td>

            </tr>
            <tr>
                <td style="vertical-align:middle" colspan="4">
                    <table border="1" style="border-collapse:collapse; border-right:none; border-left:none" width="100%">
                        <tr>
                            <td style="border-right:none; border-left:none; text-align:center; height:30px; background-color:#cccccc">
                                <span style="font-size:1.2em; font-weight:bold">INVOICE / FACTURE</span>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="font-family: Arial">
                <td style="width: 180px; vertical-align:top" colspan="2"><b>TO</b></td>
                <td style="width: 214px; vertical-align:top">
                    <span>
                        A/C #:
                        <label id="hBillerCustomerId"></label>
                    </span>
                </td>
                <td style="width: 215px; vertical-align:top;">
                    <b>
                        <span style="margin-right:20px !important">
                            INVOICE #:
                        </span>
                        <span>
                            {InvoiceNo}
                        </span>
                    </b>
                </td>
            </tr>
            <tr style="font-family: Arial">
                <td style="width: 180px; vertical-align:top;" colspan="2">
                    <span style="font-size:1.2em; font-weight:bold">{BillerCustomerName}</span><br />
                    <span>{BillerCustomerAddressLine}</span><br />
                    <span>{BillerCustomerCityLine}</span><br />
                    <span>{BillerCustomerPostCode}</span><br />
                </td>
                <td style="width: 214px; vertical-align:top">&nbsp;</td>
                <td style="width: 215px; vertical-align: top;">
                    <br />
                    <b>
                        <span style="margin-right:55px !important">
                            DATE:
                        </span>
                        <span>
                            {InvoiceDate}
                        </span>
                    </b>
                    <br /><br />
                    <b><span style="margin-right:55px !important">TERM: </span><span>{InvoiceTerm}</span></b>
                </td>
            </tr>
            <tr>
                <td style="width: 180px; height:35px; font-family: Arial" colspan="2">
                    ATTN: ACCOUNT PAYABLE
                </td>

                <td style="width: 214px;"></td>
                <td style="width: 215px;"></td>
            </tr>
            <tr>
                <td colspan="5">
                    <table style="width:900px; border-left:none;border-right:none; border-collapse:collapse; text-transform:uppercase" border="1" cellspacing="2" cellpadding="2">
                        <tr style="background-color: #cccccc; font-family:Arial; font-weight:bold; font-size:.8em; border-top:8px">
                            <td class="tdStyle" style="width:10px">
                                <span></span>
                            </td>
                            <td class="tdStyle" style="width:75px">
                                <span>Date</span><br />
                                <span>Service</span>
                            </td>
                            <td class="tdStyle" style="width:110px">
                                <span>Waybill#</span><br />
                                <span>Cust ref#</span><br />
                                <span>Ordered by</span>
                            </td>
                            <td class="tdStyle" style="width:190px">
                                <br />
                                <span>Shipper</span>
                            </td>
                            <td class="tdStyle" style="width:190px">
                                <br />
                                <span>Receiver</span>
                            </td>
                            <td class="tdStyle" style="width:80px">
                                <span>Qty</span><br />
                                <span>Weight</span>
                            </td>
                            <td class="tdStyle" style="width:60px">Rate</td>
                            <td class="tdStyle" style="width:100px">
                                <span>Fuel sur.</span><br />
                                <span>Add. Chrg</span>
                            </td>
                            <td class="tdStyle" style="width:80px">Net</td>
                        </tr>
                    </table>
                </td>
            </tr>

        </tbody>
    </table>

   
</body>
</html>




