
@{
    ViewData["Title"] = "Invoice Payment";
}


<h3>
    @ViewData["Title"]
</h3>
<hr />
<script>
    $(document).ready(function () {
        if ($.fn.dataTable.isDataTable('#customer-wise-due-invoices')) {
            $('#customer-wise-due-invoices').DataTable().destroy();
        }
        $('#customer-wise-due-invoices').DataTable({
            "order": [[0, "asc"]],
            "ordering": false,
            "paging": false,
            "info": false,
            "searching": false
        });
    });
</script>

<div class="modal fade bd-example-modal-xl" id="collectPayment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content bg-light">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle"><img src="~/images/flaticons-64x64/online-payment.png" style="height:25px; padding-left:28px; padding-right:10px" />Collect payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-sm-8 form-group input-group">
                            <small><b><label for="txtCustomerName">Customer:</label></b></small>
                            <input type="text" id="txtCustomerName" class="form-control form-control-sm" style="margin-left:8px" readonly />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <small><b><label for="txtCustomerName">Due Invoices</label></b></small>
                            <div style="display:block; height:120px; overflow-y:scroll; overflow-x:hidden; border:1px solid #c3c3c3; margin-bottom:15px" id="loadPartialViewCustomerWiseDueInvoices">
                                <table id="customer-wise-due-invoices" class="table table-sm table-striped customer-wise-due-invoices" cellspacing="0" style="width:100%; margin-top: -1px !important; font-size:.75em">
                                    <thead>
                                        <tr style="background-color:#ebffad">
                                            <th>Invoice #</th>
                                            <th>Invoice amount</th>
                                            <th>Paid amount</th>
                                            <th>Due amount</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <small><b><label for="txtCustomerName">Payment information</label></b></small>
                            <hr style="margin-top:0px" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="row mb-1">
                                <div class="col-sm-3 form-group">
                                    <small><b><label for="txtCustomerName">Invoice date:</label></b></small>
                                    <input type="text" id="txtCustomerName" class="form-control form-control-sm" readonly />
                                </div>
                                <div class="col-sm-3">
                                    <small><b><label for="txtCustomerName">Invoice Total:</label></b></small>
                                    <input type="text" id="txtCustomerName" class="form-control form-control-sm" readonly />
                                </div>
                                <div class="col-sm-3 ">
                                    <small><b><label for="txtCustomerName">Paid Amnt.:</label></b></small>
                                    <input type="text" id="txtCustomerName" class="form-control form-control-sm" readonly />
                                </div>

                                <div class="col-sm-3">
                                    <small><b><label for="txtCustomerName">Remaining Amnt.:</label></b></small>
                                    <input type="text" id="txtCustomerName" class="form-control form-control-sm" readonly />
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-sm-12">
                                    <div style="display:block; height:150px; overflow-y:scroll; overflow-x:hidden; border:1px solid #c3c3c3; margin-bottom:15px" id="loadPartialViewCustomerWiseDueInvoices">
                                        <table class="table table-sm table-striped waybill-list-for-invoice-payment" style="width:100%; margin-top: -1px !important; font-size:.75em">
                                            <thead>
                                                <tr style="background-color:#ffbfbf">
                                                    <th>W/B No</th>
                                                    <th>Pickup date</th>
                                                    <th>Delivery date</th>
                                                    <th>Total amount</th>
                                                    <th>Pick</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                    </div>
                                </div>

                        </div>
                        <div class="col-sm-4" style="background-color:#ffffff">
                            <div class="row mb-1">
                                <div class="col-sm-3">
                                    <small><b><label for="txtCustomerName">Invoice date:</label></b></small>
                                    <input type="text" id="txtCustomerName" class="form-control form-control-sm" style="margin-left:6px; margin-right:10px" readonly />
                                </div>
                                <div class="col-sm-3">
                                    <small><b><label for="txtCustomerName">Invoice Total:</label></b></small>
                                    <input type="text" id="txtCustomerName" class="form-control form-control-sm" style="margin-left:6px; margin-right:10px" readonly />
                                </div>
                                <div class="col-sm-3 ">
                                    <small><b><label for="txtCustomerName">Paid Amnt.:</label></b></small>
                                    <input type="text" id="txtCustomerName" class="form-control form-control-sm" style="margin-left:6px; margin-right:10px" readonly />
                                </div>

                                <div class="col-sm-3">
                                    <small><b><label for="txtCustomerName">Remaining Amnt.:</label></b></small>
                                    <input type="text" id="txtCustomerName" class="form-control form-control-sm" style="margin-left:6px; margin-right:10px" readonly />
                                </div>



                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>

<form id="frmInvoicePaymentForm">
    <div class="row">
        <div class="col-md-12">
            <div style="display:block; max-height:300px; min-height:75px; overflow-y:scroll; overflow-x:hidden; border:1px solid #c3c3c3; margin-bottom:15px; padding:5px" id="loadPendingInvoiceDataTable">
                <partial name="_PartialViewCustomersInvoiceDue" />
            </div>
        </div>
    </div>

    <hr />
</form>

<br /><br />


@*<script src="~/js/invoice.js"></script>*@

