@using LogisticsManagement_Web.Models;
@model ViewModel_PrintInvoice

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintWaybill</title>

    <style type="text/css">

        .tdStyle {
            padding: 4px;
            vertical-align: top
        }

        .pagebreak {
            page-break-after: always;
        }
    </style>


</head>
<body>
    @{ var count = 0; }
    @foreach (var item in Model.viewModelInvoiceBillers)
    {

        <table style="height: 36px; border:1px solid black" width="900" border="1">
            <tbody>
                <tr>
                    <td style="width: 30%; vertical-align: top; text-align:right">
                        <img src="~/images/clients/mfi_logo.jpg" style="width:90px; height:70px" />
                    </td>
                    <td style="text-align: center; vertical-align: top;" colspan="3">
                        <table border="0" style="width:100%">
                            <tr>
                                <td>
                                    <b><span style="font-size:1.5em"> Millenium Freightways Inc.</span></b><br />
                                    <span>1981 BOYLEN ROAD # 11, MISSISSAUGA, ONTARIO, L5S 1R9</span><br />
                                    <span>Tel: 905-7958686, Fax: 905-7958687, Email: accounts@milfrt.ca</span>
                                </td>
                                <td style="text-align: right; width:20%; vertical-align: top;">
                                    <span> Pg. 1/2</span>
                                </td>
                            </tr>
                        </table>


                    </td>

                </tr>
                <tr>
                    <td style="vertical-align:middle" colspan="4">
                        <table border="1" style="border-collapse:collapse; border-right:none; border-left:none" width="100%">
                            <tr>
                                <td style="border-right:none; border-left:none; text-align:center; height:30px; background-color:#cccccc">
                                    <span style="font-size:1.2em; font-weight:bold">INVOICE / FACTURE</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 214px; vertical-align:top" colspan="2"><b>To</b></td>
                    <td style="width: 214px; vertical-align:top">
                        <span>
                            Acc #:
                            @{
                                var customerNo = item.BillerCustomerId > 0 ? item.BillerCustomerId.ToString() : "";
                                @customerNo;
                            }
                        </span>
                    </td>
                    <td style="width: 215px; vertical-align:top">
                        <b>
                            <span>
                                Invoice #:
                                @{
                                    var invNo = item.InvoiceNo > 0 ? item.InvoiceNo.ToString() : "";
                                    @invNo;
                                }
                            </span>
                        </b>
                    </td>
                </tr>
                <tr>
                    <td style="width: 214px; vertical-align:top" colspan="2">
                        <span style="font-size:1.2em; font-weight:bold">@item.BillerCustomerName</span><br />
                        <span>@item.BillerCustomerAddress</span><br />
                        <span>@item.BillerPostCode</span><br />
                    </td>
                    <td style="width: 214px; vertical-align:top">&nbsp;</td>
                    <td style="width: 215px; vertical-align: top;">
                        <b>
                            <span>
                                Invoice date:
                                @{
                                    var dateString = item.InvoiceDate > DateTime.Now.AddYears(-20) ? item.InvoiceDate.ToString("dd-MMM-yyyy") : "";
                                    @dateString;
                                }
                            </span>
                        </b>
                        <br />
                        <b><span>Term: @item.Term</span></b>
                    </td>
                </tr>
                <tr>
                    <td style="width: 214px; height:35px">
                        Attn: Account Payable
                    </td>
                    <td style="width: 214px;"></td>
                    <td style="width: 214px;"></td>
                    <td style="width: 215px;"></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table style="border:1px solid red; width: 100%; border-collapse:collapse;" border="1" cellspacing="2" cellpadding="2">
                            <tbody>
                                <tr style="background-color: #cccccc; font-family:Arial; font-weight:bold; font-size:.8em; border-top:8px">
                                    <td class="tdStyle">
                                        <span></span>
                                    </td>
                                    <td class="tdStyle">
                                        <span>Date</span><br />
                                        <span>Service</span>
                                    </td>
                                    <td class="tdStyle">
                                        <span>Waybill#</span><br />
                                        <span>Cust ref#</span><br />
                                        <span>Ordered by</span>
                                    </td>
                                    <td class="tdStyle"><span>Shipper</span></td>
                                    <td class="tdStyle"><span>Receiver</span></td>
                                    <td class="tdStyle">
                                        <span>Unit/Qty</span><br />
                                        <span>Weight</span>
                                    </td>
                                    <td class="tdStyle">Rate</td>
                                    <td class="tdStyle">
                                        <span>Fuel surcharg</span><br />
                                        <span>Add. Chrg</span>
                                    </td>
                                    <td class="tdStyle">Net</td>
                                </tr>
                                @{
                                    var wayBills = Model.viewModelWaybills.Where(c => c.BillerCustomerId == item.BillerCustomerId).ToList();
                                }

                                @foreach (var bill in wayBills)
                                {
                                    <tr>
                                        <td class="tdStyle">
                                            <span>1</span>
                                        </td>
                                        <td class="tdStyle">
                                            <span>1 21feb 2019</span><br />
                                            <span>SMD</span>
                                        </td>
                                        <td class="tdStyle">
                                            <span>30656</span><br />
                                            <span>AMan</span>
                                        </td>
                                        <td class="tdStyle">
                                            <span>Med sci</span><br />
                                            <span>12 sdkfnsd</span><br />
                                            <span>Bramton, On</span>
                                        </td>
                                        <td class="tdStyle">&nbsp;</td>
                                        <td class="tdStyle">
                                            <span>1 pc</span><br />
                                            <span>77 lb</span>
                                        </td>
                                        <td class="tdStyle">45</td>
                                        <td class="tdStyle">
                                            <span>15.00</span><br />
                                            <span>30.00</span>
                                        </td>
                                        <td class="tdStyle">90.00</td>
                                    </tr>

                                }


                                <tr>
                                    <td colspan="3">
                                        <p>* sdsdsds = sdsd</p>
                                        <p>Note: sdsdsdsds</p>
                                    </td>
                                    <td colspan="5">AWT/CTN: 3434343434</td>
                                </tr>
                                <tr>
                                    <td colspan="3">&nbsp;</td>
                                    <td colspan="5">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="width: 214px;" colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 214px;" colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 214px;" colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 214px;" colspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td style="width: 214px;" colspan="4">*HST Applicable</td>
                </tr>
                <tr>
                    <td style="width: 214px;" colspan="4">
                        <table style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <p>Basic charge</p>
                                        <p>2323</p>
                                    </td>
                                    <td>
                                        <p>Delivery charge</p>
                                        <p>234234</p>
                                    </td>
                                    <td>
                                        <p>Fuel surchrg</p>
                                        <p>2323</p>
                                    </td>
                                    <td>
                                        <p>Add. chrg</p>
                                        <p>30.00</p>
                                    </td>
                                    <td>
                                        <p>HST</p>
                                        <p>0.00</p>
                                    </td>
                                    <td>
                                        <p>Current ttl</p>
                                        <p>90</p>
                                    </td>
                                    <td>
                                        <p>Saving</p>
                                        <p>0.00</p>
                                    </td>
                                    <td>
                                        <p>Total amnt due</p>
                                        <p>90.00</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8">
                                        <p>ALL INVOICES ARE DUE WHEN RENDERED UNLESS AGREED OTHERWISE&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;HST: 886288521RT0001</p>
                                        <p>INTEREST CHARGED ON OUTSTANDING BALANCE AT THE RATE OF 2% PER MONTH</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>

    }
</body>
</html>
