@{ 
    ViewData["title"] = "Credits";
}

<h1>Credits to third party resources</h1>

<p>
    <ul>
        <li>
            Admin template by <a href="https://coreui.io/" target="_blank"><img src="~/lib/img/brand/logo.svg" width="55" height="15"/></a>
        </li>
        <li>
            <div>Icons made by <a href="https://www.flaticon.com/authors/pixelmeetup" title="Pixelmeetup" target="_blank">Pixelmeetup</a>, <a href="https://www.freepik.com/" title="Freepik" target="_blank">Freepik</a>, <a href="https://www.flaticon.com/authors/mynamepong" title="mynamepong" target="_blank">mynamepong</a>, <a href="https://www.flaticon.com/authors/flat-icons" title="Flat Icons" target="_blank">Flat Icons</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
        </li>
        <li>
            Other credit <a href="https://logomakr.com/">Logomakr</a> 
        </li>
    </ul>

</p>

